/* bebas-neue-regular - latin */

:root {
    --easy: #008B00;
    --medium: #bdaa00;
    --hard: #F42222;
    --extrem: #2F4858;
    --bgheader: #d6d6cd;
    --bgmain: #FAFBE9;
}

body {
    overflow-x: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent {
    background-color: var(--bgmain);
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizimg {
    height: 450px;
    width: 900px;
}

.header {
    position: absolute;
    top: 0;
    font-family: 'Odibee Sans' !important;
    background-color: var(--bgheader);
    width: 100vw;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 40px;
}

.card-body {
    padding: 12px;
    border: 1px solid grey;
    border-radius: 5px;
}

.questionCard {
    margin-bottom: 4px;
}

.questionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.endScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endScreenButton {
    margin-top: 10px;
}

.win {
    color: green;
}

.loose {
    color: red;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.difficultyColor {
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.easy {
    background-color: var(--easy) !important;
}

.medium {
    background-color: var(--medium) !important;
}

.hard {
    background-color: var(--hard) !important;
}

.extrem {
    background-color: var(--extrem) !important;
}

@media (max-width: 900px) {
    .header {
        border: none;
        background-color: var(--bgheader);
    }
    .card img {
        border-radius: 0;
        border: none;
    }
    .questionFooter {
        margin-top: 34px;
        padding-bottom: 20px;
        font-size: 60px;
        text-align: center;
        justify-content: center;
    }
    .cardHeader h5 {
        text-decoration: underline;
    }
    .quizimg {
        object-fit: cover;
    }
}