/* bebas-neue-regular - latin */

:root {
    --easy: #008B00;
    --medium: #bdaa00;
    --hard: #F42222;
    --extrem: #2F4858;
    --bgheader: #d6d6cd;
    --bgmain: #FAFBE9;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.mainContent {
    background-color: var(--bgmain);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: 'Odibee Sans' !important;
    background-color: var(--bgheader);
    width: 100vw;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 50px;
}

.card-body {
    padding: 12px;
}

.questionCard {
    margin-bottom: 4px;
}

.questionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.endScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endScreenButton {
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
}

.win {
    color: green;
}

.loose {
    color: red;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.difficultyColor {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.easy {
    background-color: var(--easy);
}

.medium {
    background-color: var(--medium);
}

.hard {
    background-color: var(--hard);
}

.extrem {
    background-color: var(--extrem);
}

@media (max-width: 1000px) {
    .header {
        border: none;
        background-color: var(--bgheader);
    }
    .card img {
        border-radius: 0;
        border: none;
    }
    .difficultyColor {
        border-radius: 100%;
        height: 30px;
        width: 40px;
    }
    .questionFooter {
        margin-top: 34px;
        padding-bottom: 20px;
        font-size: 60px;
        text-align: center;
    }
    .cardHeader h5 {
        text-decoration: underline;
    }
}